@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p><strong>Guidelines:</strong></p>
<p>1.Park your vechical in correct slot No which is given by admin.</p>
<p>2.Remember your parking area.</p>
<p>3.Pay your parking charges at the time of leave.</p>
